In [70]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt

In [71]:
time_data = pd.DataFrame()
number_of_chunks = 5
for idx in range(1, number_of_chunks+1):
    time_data = pd.concat([time_data, pd.read_csv(f"down_up_lat_tests_by_quarter_part{idx}.csv")])

In [72]:
print(time_data.columns)
print(time_data.shape)
cols_to_drop = ['geometry','DAUID','PRUID','CDUID','CCSUID','CCSNAME','CSDUID','ERUID','SACCODE','CMAUID','CMAPUID','CMANAME','CMATYPE','CTUID','CTNAME','ADAUID','PCUID','PCPUID']
time_data = time_data.drop(columns=cols_to_drop).reset_index(drop=True)
print(time_data.shape)

Index(['quadkey', 'geometry', 'd2019Q1', 'u2019Q1', 'l2019Q1', 't2019Q1',
       'd2019Q2', 'u2019Q2', 'l2019Q2', 't2019Q2',
       ...
       'tile_area', 'tile_frac', 'das_frac', 'DAPOP', 'POP_DENSITY', 'PCUID',
       'PCNAME', 'PCTYPE', 'PCPUID', 'PCCLASS'],
      dtype='object', length=103)
(581765, 103)
(581765, 85)

In [55]:
down_cols = [col for col in time_data if col.startswith('d20')]
up_cols = [col for col in time_data if col.startswith('u20')]
lat_cols = [col for col in time_data if col.startswith('l20')]
tests_cols = [col for col in time_data if col.startswith('t20')]

In [44]:
def training_quarters(y, q, n):
    quarters = []
    i=0
    while i<5:
        if q<=i:
            i = 0
            y = y-1
            q=4
        else:
            quarters.append(str(y) + "Q" + str(q-i))
            i=i+1
            if len(quarters) == n:
                return quarters

In [68]:
feature_table = pd.DataFrame()
print(feature_table.shape)

n_train_quarter = 8
n_quarter = n_train_quarter+1

for year in range(2021, 2023):
    new_table = time_data.drop(columns=down_cols+up_cols+lat_cols+tests_cols)
    for quarter in range(1, 5):
        quarters = training_quarters(year, quarter, n_quarter)
        for i in range(n_quarter):
            new_table["d_quarter"+str(i)] = time_data["d"+quarters[i]]
            new_table["u_quarter"+str(i)] = time_data["u"+quarters[i]]
            new_table["l_quarter"+str(i)] = time_data["l"+quarters[i]]
            new_table["t_quarter"+str(i)] = time_data["t"+quarters[i]]

        feature_table = pd.concat([feature_table, new_table], ignore_index=True)
        print(feature_table.shape)

year=2023
quarter=1
new_table = time_data.drop(columns=down_cols+up_cols+lat_cols+tests_cols)
quarters = training_quarters(year, quarter, n_quarter)
for i in range(n_quarter):
    new_table["d_quarter"+str(i)] = time_data["d"+quarters[i]]
    new_table["u_quarter"+str(i)] = time_data["u"+quarters[i]]
    new_table["l_quarter"+str(i)] = time_data["l"+quarters[i]]
    new_table["t_quarter"+str(i)] = time_data["t"+quarters[i]]

feature_table = pd.concat([feature_table, new_table], ignore_index=True)
print(feature_table.shape)

(0, 0)
(581765, 53)
(1163530, 53)
(1745295, 53)
(2327060, 53)
(2908825, 53)
(3490590, 53)
(4072355, 53)
(4654120, 53)
(5235885, 53)

In [65]:
feature_table.to_csv("feature_table_by_quarter.csv", index=False)

In [69]:
for i, col in enumerate(feature_table.columns):
    print(i,col)

0 quadkey
1 PRNAME
2 CDNAME
3 CDTYPE
4 CSDNAME
5 CSDTYPE
6 ERNAME
7 SACTYPE
8 das_area
9 tile_area
10 tile_frac
11 das_frac
12 DAPOP
13 POP_DENSITY
14 PCNAME
15 PCTYPE
16 PCCLASS
17 d_quarter0
18 u_quarter0
19 l_quarter0
20 t_quarter0
21 d_quarter1
22 u_quarter1
23 l_quarter1
24 t_quarter1
25 d_quarter2
26 u_quarter2
27 l_quarter2
28 t_quarter2
29 d_quarter3
30 u_quarter3
31 l_quarter3
32 t_quarter3
33 d_quarter4
34 u_quarter4
35 l_quarter4
36 t_quarter4
37 d_quarter5
38 u_quarter5
39 l_quarter5
40 t_quarter5
41 d_quarter6
42 u_quarter6
43 l_quarter6
44 t_quarter6
45 d_quarter7
46 u_quarter7
47 l_quarter7
48 t_quarter7
49 d_quarter8
50 u_quarter8
51 l_quarter8
52 t_quarter8